* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #18191f; }

ul {
  display: flex;
  position: relative;
  margin-bottom: 30px; }
  ul li {
    list-style: none;
    position: relative; }
    ul li a {
      display: block;
      width: 80px;
      height: 80px;
      line-height: 3;
      margin: 0 10px;
      padding: 20px;
      background-color: #18191f;
      text-align: center;
      box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.05), 2px 2px 3px rgba(255, 255, 255, 0.05);
      border-radius: 50%;
      transition: 0.5s all; }
      ul li a i {
        font-size: 30px;
        color: #555;
        transition: 0.5s all; }
  ul:nth-child(1) li a:hover {
    box-shadow: -2px -2px 3px #00f3ff, 2px 2px 3px #00f3ff; }
    ul:nth-child(1) li a:hover i {
      color: #00f3ff;
      text-shadow: 0 0 15px #00f3ff;
      transform: rotate(360deg); }
  ul:nth-child(2) li a:hover {
    box-shadow: -2px -2px 3px red, 2px 2px 3px red; }
    ul:nth-child(2) li a:hover i {
      color: #ff0000;
      text-shadow: 0 0 15px #f00;
      transform: rotate(360deg); }
  ul:nth-child(3) li a:hover {
    box-shadow: -2px -2px 3px lime, 2px 2px 3px lime; }
    ul:nth-child(3) li a:hover i {
      color: #0f0;
      text-shadow: 0 0 15px #00ff00;
      transform: rotate(360deg); }
